################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XAMARIN/MeuPontinhoXama/MeuPontinhoXama.Android/obj
/XAMARIN/MeuPontinhoXama/MeuPontinhoXama.Android/Properties/AndroidManifest.xml
